* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#main_part {
  width: 90vw;
  margin: 0 auto;
}

/* header */
#header {
  border-bottom: solid 0.2px gainsboro;
  width: 90vw;
  margin: 0 auto;
}

#navbar_part {
  display: flex;
  height: 7.5vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

#navbar_part > li {
  list-style: none;
  margin-right: 3.3vw;
  line-height: 7.5vh;
}

#navbar_part a {
  text-decoration: none;
}

.highlight_nav > a {
  color: black;
  font-weight: bold;
}

.normal_nav > a {
  color: gray;
}

/* footer */
#footer {
  position: absolute;
  bottom: 1vh;
  width: 100vw;
  height: 7.5vh;
}

#footer_part {
  margin: 0 auto;
  width: 90vw;
  height: 7.5vh;
  border-top: solid 0.2px gainsboro;
}

#footer > p {
  margin: 0 auto;
  line-height: 7.5vh;
  text-align: center;
}

/* common item */
.header_font > h2 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5vh;
  text-align: left;
  font-size: 16vh;
}

.highlight {
  font-weight: bold;
  color: black;
}

.page_header {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 2s, transform 2s;
}

.page_header_effect {
  opacity: 1;
  transform: translateX(0px);
}

/* work page */
#parent_work {
  position: relative;
}

#child_work {
  position: absolute;
  top: 5vh;
  width: 90vw;
}

.tab_list {
  display: flex;
  text-align: left;
  margin-bottom: 2vh;
}

.tab_list > li {
  list-style: none;
  margin-right: 0.5vw;
  line-height: 12px;
}

.tab_list > li > a {
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
}

.work_flex {
  display: flex;
}

#work_left {
  width: 50%;
  margin-top: 20vh;
}

#work_left_only {
  width: 50%;
  margin-top: 20vh;
}

.work_left_loading_failed {
  margin-top: 25vh;
}

#work_right {
  width: 50%;
}

.work_list {
  list-style: none;
}

.normal_tag {
  color: black;
  border: solid 1px black;
}

.normal_tag a {
  color: black;
}

.tag_event {
  padding: 1px 10px;
  text-decoration: none;
  margin-right: 8px;
  display: inline-block;
}

.highlight_tag {
  font-size: 12px;
  padding: 3px 10px;
  background-color: black;
}

.highlight_tag > a {
  color: white;
  font-weight: bold;
}

.result_number {
  margin: 28px 0px;
}

/* work_detail_page */
.detail_page {
  margin-left: 5vw;
  margin-right: 5vw;
}

.detail_headline {
  text-align: left;
  font-size: 35px;
  margin-bottom: 6vh;
}

.detail_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.detail_title {
  font-weight: bold;
}

/* work/image/wrapper */

.image_wrapper_in_detail {
  margin-top: 1vh;
}

.button_flex {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  margin: 2vh auto;
}

.button_for_screen_shot {
  width: 0.7vw;
  height: 0.7vw;
  background-color: gray;
  border-radius: 0.7vw;
  cursor: pointer;
}

.button_highlight {
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 0.7vw;
  background-color: black;
  cursor: pointer;
}

/* about page */
/* about page */

#about_description p {
  margin-top: 15px;
  margin-bottom: 15px;
}
