html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 90vw;
}

#main_part {
  width: 90vw;
  margin: 0 auto;
}

/* header */
#header {
  border-bottom: solid 0.2px gainsboro;
  width: 90vw;
  margin: 0 auto;
}

#navbar_part {
  display: flex;
  height: 7.5vh;
  /* margin-top: 0;
  margin-bottom: 0; */
  /* padding-left: 0; */
}

#navbar_part > li {
  list-style: none;
  margin-right: 3.3vw;
  line-height: 7.5vh;
}

#navbar_part a {
  text-decoration: none;
}

.highlight_nav > a {
  color: black;
  font-weight: bold;
}

.normal_nav > a {
  color: gray;
}

/* footer */
#footer {
  position: absolute;
  bottom: 1vh;
  width: 100vw;
  height: 7.5vh;
}

#footer_part {
  margin: 0 auto;
  width: 90vw;
  height: 7.5vh;
  border-top: solid 0.2px gainsboro;
}

#footer > p {
  margin: 0 auto;
  line-height: 7.5vh;
  text-align: center;
  color: gray;
}

/* common item */
.header_font > h2 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5vh;
  text-align: left;
  font-size: 16vh;
  width: 40vw;
}

.highlight {
  font-weight: bold;
  color: black;
}

.page_header {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 2s, transform 2s;
}

.page_header_effect {
  opacity: 1;
  transform: translateX(0px);
}

/* work page */
#parent_work {
  position: relative;
}

#child_work {
  position: absolute;
  top: 5vh;
  width: 90vw;
}

.tab_list {
  display: flex;
  text-align: left;
  margin-bottom: 2vh;
}

.tab_list > li {
  list-style: none;
  margin-right: 0.5vw;
  line-height: 12px;
  cursor: pointer;
}

.tab_list > li > a {
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
}

.work_flex {
  display: flex;
  height: 85vh;
  width: 100%;
}

#work_left {
  width: 50%;
  margin-top: 20vh;
}

#work_left_only {
  width: 50%;
  margin-top: 20vh;
}

.work_left_loading_failed {
  margin-top: 25vh;
}

#work_right {
  width: 50%;
}

.work_list {
  list-style: none;
}

.normal_tag {
  color: black;
  border: solid 1px black;
}

.normal_tag a {
  color: black;
}

.tag_event {
  padding: 1px 10px;
  text-decoration: none;
  margin-right: 8px;
  display: inline-block;
}

.highlight_tag {
  font-size: 12px;
  padding: 3px 10px;
  background-color: black;
}

.highlight_tag > a {
  color: white;
  font-weight: bold;
}

.result_number {
  margin: 28px 0px;
}

.result_number_bold {
  font-weight: bold;
}

/* work_detail_page */

.mobile_detail_page {
  display: none;
}

.detail_page {
  margin-left: 5vw;
  margin-right: 5vw;
}

.detail_headline {
  text-align: left;
  font-size: 35px;
  margin-bottom: 6vh;
}

.detail_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.detail_title {
  font-weight: bold;
}

.work_detail_web {
  color: black;
}

/* work/image/wrapper */

.image_wrapper_in_detail {
  margin-top: 1vh;
}

.button_flex {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  margin: 2vh auto;
}

.button_for_screen_shot {
  width: 0.7vw;
  height: 0.7vw;
  background-color: gray;
  border-radius: 0.7vw;
  cursor: pointer;
}

.button_highlight {
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 0.7vw;
  background-color: black;
  cursor: pointer;
}

/* work_list */
.work_list_image_wrapper {
  width: 40vw;
  position: relative;
  margin-bottom: 3vh;
  border: solid 1px black;
}

.worklist_image {
  width: 40vw;
  object-fit: cover;
}

.work_list_image_wrapper > h3 {
  position: absolute;
  top: 60px;
  left: 20px;
  color: white;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: 0px 0px 10px gray;
}

.work_list {
  list-style: none;
  text-align: left;
  padding-left: 0;
  height: 40vh;
  margin: 5vh 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.work_list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.work_list::-webkit-scrollbar-thumb {
  background-color: silver;
}

.work_list::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

/* about page */
/* about page */

#about_description p {
  margin-top: 22px;
  margin-bottom: 22px;
}

#about_flex {
  display: flex;
  height: 85vh;
}

#about_left,
#about_right {
  width: 50%;
}

#profile_picture {
  object-fit: cover;
}

#image_position {
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 22vh;
}

.screen_shot {
  width: 35vw;
  height: 38vh;
  object-fit: cover;
  border: solid 0.5px black;
}

/* contact page */
/* contact page */
#contact_flex {
  height: 85vh;
  width: 100%;
}

#contact_left,
#contact_right {
  width: 50%;
  height: 70vh;
}

.icon_wrapper {
  display: flex;
}

.icon_wrapper > div {
  margin-top: 1vh;
  margin-right: 0.3vw;
}

/* Top-page */
.top_page_new_effect {
  /* position: relative; */
  top: 50%;
  width: 18em;
  margin: 0 auto;
  border-right: 2px solid black;
  font-size: 200%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.anim-typewriter {
  animation: typewriter 4s steps(30) 1s 1 normal both,
    blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

.top_page_parent {
  width: 90vw;
  height: 85vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.top_page {
  font-size: 50px;
  margin: 0 auto;
  transition: opacity 8s, font-size 8s;
  opacity: 0;
}

.title_effect {
  opacity: 1;
  font-size: 55px;
}

@media screen and (max-width: 765px) {
  html,
  body,
  * {
    box-sizing: border-box;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* footer */
  #footer {
    position: fixed;
    bottom: 0px;
    background-color: white;
  }

  /* top-page */
  .top_page_new_effect {
    font-size: 18px;
  }

  /* header */
  #header {
    width: 90vw;
  }

  #header > ul {
    justify-content: space-between;
  }

  /* common */
  .header_font > h2 {
    font-size: 20vw;
  }

  /* work_page */
  .work_flex {
    flex-direction: column;
    width: 100%;
  }

  #work_left,
  #work_right {
    width: 100%;
  }

  #work_left {
    margin-top: 12vh;
  }

  .worklist_image {
    width: 99%;
  }

  .tab_list {
    width: 100%;
  }

  .work_list_image_wrapper {
    width: 100%;
  }

  .tag_event {
    padding: 1px 7px;
  }

  /* work_detail_page */
  .detail_flex {
    margin: 30px 0px;
  }

  .detail_page {
    display: none;
  }

  .mobile_detail_page {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 7.5vh;
    left: 0px;
    border-top: solid 1px black;
    background-color: white;
  }

  #mobile_detail_part {
    width: 90%;
    margin: 0 auto;
  }

  #mobile_detail_btn {
    text-align: right;
    font-size: 15vw;
    cursor: pointer;
    margin: 10px 3px;
  }

  .mobile_detail_on {
    display: block;
  }
  .mobile_detail_off {
    display: none;
  }

  .detail_headline {
    font-size: 8vw;
  }

  .detail_page {
    height: 70vh;
  }

  .screen_shot {
    width: 100%;
    height: 25vh;
  }

  .image_wrapper_in_detail {
    object-fit: cover;
  }

  .technologies {
    width: 60%;
    text-align: right;
  }

  .button_for_screen_shot,
  .button_highlight {
    width: 15px;
    height: 15px;
    border-radius: 15px;
  }

  .button_flex {
    width: 30vw;
  }

  /* about_page */

  #about_flex {
    flex-direction: column;
    width: 100%;
  }
  #about_left,
  #about_right {
    width: 100%;
  }

  #about_left p {
    font-size: 15px;
  }

  #about_right {
    height: 40vh;
  }

  #about_description {
    width: 90vw;
  }

  #about_description p {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  #about_description > p:last-child {
    margin-bottom: 0px;
  }

  #image_position {
    margin-top: 40px;
    height: 33vh;
  }

  /* contact_page */
  #contact_flex {
    flex-direction: column;
  }
  #contact_left {
    width: 100%;
  }
  #contact_right {
    width: 100%;
  }

  #contact_name {
    width: 100%;
    font-size: 7vw;
    margin-bottom: 2vh;
  }

  .icon_wrapper {
    width: 100%;
  }
  .icon_wrapper > div {
    margin-right: 5.2vw;
  }
}
